<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>
</body>
    {{>navbar}}

<!-- main header -->

<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Left side div -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="images/ex1.jpg" alt="img-fluid" title="nizam weather">
                    </figure>
                
                    <p>Welcome!! I Am <span class="text_col"> Legend & Hacker </span> A 420 Boy!!</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/" target="_nizam"><button>Go Back</button></a>
                </div>
                <!-- Right side div -->

            </div>
        </div>
    </div>
</div>

<!-- footer code -->
{{>footer}}
</body>

</html>