<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>
</body>
    {{>navbar}}

<!-- main header -->

<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Left side div -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/wp44.jpeg" alt="img-fluid" title="nizam weather">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome!! I Am <span class="text_col"> Nizamuddin Mondal </span> A 420 Boy!!</p>
                    <h1>I Am A <span class="text_col"> Back-End Developer</span> Front-End Also</h1>
                    <a href="https://github.com/Nizam420" target="_nizam"><button>About
                            Me</button></a>
                </div>
                <!-- Right side div -->

            </div>
        </div>
    </div>
</div>

<!-- footer code -->
{{>footer}}
</body>

</html>